attrs>=19.1.0
dtw==1.4.0
fastdtw==0.3.4
msgpack_numpy
jsonlines
psutil
transformers==4.46.3
tokenizers==0.20.3
tensorboard==2.8.0
requests
networkx
gdown
gym>=0.17.3
lmdb
typing-extensions>=4.12.2
pre-commit
tqdm>=4.0.0
tb-nightly
yacs>=0.1.5
Opencv-python>=3.3.0
numba == 0.55.1
numpy == 1.21.6
protobuf==3.20.1
numpy-quaternion==2022.4.2
huggingface-hub==0.27.1
setuptools==75.1.0
braceexpand
objectio
simplejson
peft

importlib_metadata==8.5.0